<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Edit client</title>
</head>
<body>
<h2>Редактирование клиента</h2>
<form th:method="PATCH" th:action="@{/client/{id}(id=${person.personId})}" th:object="${person}">

  <label for="fullname">Enter name: </label>
  <input type="text" th:field="*{fullName}" id="fullname"/>
  <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name err</div>
  <br/>

  <label for="year">Enter year: </label>
  <input type="text" th:field="*{yearBirthday}" id="year"/>
  <div style="color: red" th:if="${#fields.hasErrors('yearBirthday')}" th:errors="*{yearBirthday}">Age err</div>
  <br/>

  <input type="submit" value="Update"/>
</form>

<br/>
<a href="/client">Back</a>

</body>
</html>