<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clients</title>
</head>
<body>
<h2>All clients</h2>
<div th:each="client : ${persons}">
    <a th:href="@{/client/{id}(id=${client.personId})}"
       th:text="${client.fullName + ', ' + client.yearBirthday }">user</a>
</div>
<br/>
<hr/>

<form th:method="GET" th:action="@{/client/new}">
    <input type="submit" value="Add client">
</form>
<form th:method="GET" th:action="@{/}">
    <input type="submit" value="MAIN page">
</form>



</body>
</html>